/*************
Basic element-level styles
*************/

* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
}

h1,
h2,
h3 {
    font-family: "Open Sans", sans-serif;
}

/*************
Reusable styles
*************/

.flex {
    display: flex;
    flex-flow: column nowrap;
}

/*************
Main styles
*************/
#wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}

#main-header {
    background: url("../img/purple_foods.png"); /* Background-color: #906BFF; */
    border-bottom: 15px solid #fff;
    box-shadow: inset 0 -2px 5px -2px #000;
}

#main-header-wrap {
    align-items: center;
    padding: 1em 0;
    margin: 0 1em;
}

#profile-pic {
    max-width: 300px;
    max-height: 300px;
    border: 15px solid #fff;
    border-radius: 50%;
    box-shadow: 2px 2px 5px 1px #000;
    transition: transform .3s ease-out;

}

#profile-pic:hover {
    transform: scale(1.1);
}

#vital-facts {
    display: none;
}

#title {
    font-size: 1.8em;
    letter-spacing: .02em;
    font-weight: 900;
    color: #fff;
    text-shadow: 1.5px 1.5px 4px #000;
}

#main-content {
    background: url("../img/orange_foods.png"); /* background-color: F39B6D */
    flex-flow: column wrap;
    align-content: center;
    box-shadow: inset 0 2px 5px -2px #000,
                inset 0 -2px 5px -2px #000;
}

#main-content-title {
    flex: 1 90%;
    max-width: 90%;
    align-self: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5em;
    text-shadow: 1.5px 1.5px 4px #000;
    padding: 1em 0 .3em;
    margin: 0;
    
}

.card {
    flex: 1 90%;
    max-width: 90%;
    background-color: rgb(194, 239, 179, .7); /* background-color: rgb(194, 239, 179, .8); */
    border-radius: 20px;
    padding: 1em;
    margin: 1em;
    box-shadow: 1px 1px 4px 0px #000;
}

.card img {
    max-width: 100%;
    border-radius: 20px;
}

.card h3 {
    font-size: 1.5em;
    margin: .5em 0;
    text-align: center;
}

#main-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

#social-wrap {
    flex-flow: row nowrap;
    justify-content: space-between;
}

#social-wrap img {
    display: inline-block;
    height: 2em;
    width: 2em;

}

#social-wrap a:last-child img {
    height: 2.3em;
    width: 2.3em;
    margin: -3px;
    margin-left: 1em;
}

/*********
Media queries
*********/
@media (min-width: 768px) {

    #main-header-wrap {
        flex-flow: row nowrap;
        padding: 1.5em 0;
        margin: 0 1.5em;
    }

    #title {
        display: flex;
        
        font-size: 2em;
        margin: 1.5em 0;
    }

    #main-content {
        flex-flow: row wrap;
        justify-content: space-around;
        padding: 1.5em;
    }
    
    #main-content-title {
        flex: 1 100%;
        text-align: center;
        font-size: 2em;
        padding-bottom: 2em;
    }

    .card {
        flex: 1 48%;
        max-width: 48%;
        margin: 0;
        padding: 1.5em;
    }

    .card img {
        width: 150px;
        float: right;
        margin-left: 1.5em;
        margin-bottom: 1.5em;
    }


    #card-past h3,
    #card-present h3 {
        text-align: left;
    }

    #card-past {
        margin-right: 1.5em;
    }

    #card-future {
        flex: 1 100%;
        max-width: 100%;
        margin-top: 1.5em;
    }

    #card-future img {
        float: left;
        margin-right: 1.5em;
        margin-left: 0;
    }

    #main-footer {
        padding: 1.5em;
    }
}